@model ASPDotNetProject.Models.ViewModel.ClassroomViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Classes";
}

<div class="mt-5 pt-2">
    <h1>Joined rooms</h1>
</div>

<div class="mt-4">
    <table class="table shadow p-3 rounded">
        <thead>
            <tr>
                <th scope="col">Class Name</th>
                <th scope="col">Type</th>
                <th scope="col">Total students</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
       <tbody>
            @foreach (var room in Model.Rooms)
            {
                <tr>
                    <th scope="row">@room.ClassName</th>
                    <td>@room.Type</td>
                    <td>@(room.ClassroomUsers?.Count() ?? 0)</td>
                    <td>
                        <a asp-action="Index" asp-controller="DeleteClass" asp-route-id="@room.Id" class="btn btn-primary btn-block btn-lg">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>