@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SkillMate</title>

    <style>
        body {
            padding-top: 56px;
        }
    </style>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    
    @* Component view: /Component/NavbarViewComponent.cs, /Views/Shared/Components/Navbar/Default.cshtml *@
    @await Component.InvokeAsync("Navbar")

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

@* Partial view: _Footer.cshtml *@
@await Html.PartialAsync("_Footer") 

</html>

