@model ASPDotNetProject.Models.ViewModel.ClassroomViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Create your class!";
}

<div class="mt-5 pt-2">
    <h1>Create Class</h1>
</div>

<form asp-action="CreateClass" asp-controller="Create" method="post" class="shadow-sm p-3 rounded w-100">
  <div data-mdb-input-init class="d-block w-full form-outline mb-4">
    <label class="form-label" for="classname">Class Name</label>
    <input type="text" name="classname" id="classname" class="form-control" placeholder="Let's study C#" required/>
  </div>

  <div data-mdb-input-init class="d-block form-outline mb-4">
    <label class="form-label" for="classtype">Class Type</label>
    <input type="text" name="classtype" id="classtype" class="form-control" placeholder="C#" required/>
  </div>
  <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Create Class</button>
</form>
