@model ASPDotNetProject.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="border rounded p-4">
    <form asp-controller="Login" asp-action="Login" method="post">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        }
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" required/>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="text-center mt-3">
        <small>Don't have an account?</small> 
        <a asp-controller="Login" asp-action="Register" class="btn btn-outline-secondary ms-2">Register</a>
    </div>
</div>