@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Not Found!";
}

<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
            <span class="display-1 fw-bold">5</span>
            <span class="display-1 fw-bold">0</span>
            <span class="display-1 fw-bold bsb-flip-h">0</span>
          </h2>
          <h3 class="h2 mb-2">Oops! Something went wrong.</h3>
          <p class="mb-5">Unexpected error occured, please try it again later.</p>
          <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-block btn-lg">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</section>